.section{
  margin: 35px 0 35px;
}

.quiz-wrapper{
    width: 100%;
    min-height: 100vh;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.quiz-box{
    width: 750px;
    min-height: 400px;
    background-color: #d0e7eb;
    padding: 20px;
    box-shadow: rgba(0,0,0,0.8) 0px 4px 12px;
    border-radius: 50px;
    /* margin-top: 550px; */
    
}

.question-count{
    text-align: center;
    margin-top: 20px;   
}

.question-count .count{
    font-size: 25px;
    font-weight: bold;
    color: #1e88e5;
}

.question-count .count span{
    color: #1a237e;
    font-size: 35px;
}

.question-count .question-title{
    font-size: 25px;
    font-weight: bold;
    color: #1a237e;
}

.question-box{
    margin-top: 10px;
    display: flex;
    gap: 15px;
    align-items: center;

}

.question-box #question-number{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffeb3b;
    color: #1a237e;
    font-size: 20px;
    width: 40px;
    border-radius: 50px;
    padding: 5px;
    text-align: center;
}


.question-box #question{
    font-size: 20px;
    font-weight: 500;
    color: #1a237e;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.8) 0px 4px 12px;
}

.answers-box{
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 45px;
    gap: 35px 15px; */
    gap: 1rem; /* Távolság a dobozok között */
  justify-content: center; /* Középre igazítás */
}
.box{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  /* border: 1px solid #ccc; */
  padding: 1rem;
  border-radius: 5px;
  /* min-width: 150px; /* Alap szélesség */
  /* max-width: 200px; */ */

  cursor: pointer;
}

.answers-box .box{
    width: calc(50% - 10px);
    position: relative;

}

.answers-box .box .answer-number{
    position: absolute;
    top: -4px;
    right: 5%;
    font-size: 15px;
    color: yellow;
    background-color: #2196f3;
    width: 60px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.8) 0 4px 12px;

}

.answers-box .box .answer-lable{
    display: flex;
    align-items: center;
    background-color: white;
    border: 2px solid rgb(192, 192, 192);
    width: 100%;
    padding: 20px 25px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: rgba(0,0,0,0.8) 0 4px 12px;
}

.answers-box .box input:checked~.answer-lable{
    background-color: #1a237e;
    color: white;
    border: 2px solid #1a237e;
}

.button-box{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.button-box button{
    width: calc(70% - 15px);
    background-color: #1e88e5;
    border: 2px solid #2196f3;
    font-size: 20px;
    padding: 12px 12px;
    color: white;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.5s;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
}

.button-box button:hover{
    border: 2px solid #1a237e;
    background-color: #1a237e;
    color: #fff;
}

.button-box .submite-btn{
    display: none;
}

.result-show{
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    display: none;
    text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem; 
  width: 100%;
  }

  .question-title{
    font-size: 20px;
  }

  @media (max-width: 548px) {
    .container {
      padding: 0 5px;
    }
  
    .title h1 {
      font-size: 2em; /* Kisebb betűméret mobilon */
    }
  
    .buttons button {
      font-size: 1em;
      padding: 10px;
    }
  
    .quotes {
      font-size: 0.9em;
      padding: 10px;
    }
  
    .quiz-box {
      width: 100%;
      padding: 10px;
    }
    .answers-box{
      margin-top: 12px;
      display: flex;
      justify-content: center;
      flex-direction: column; 
      align-items: center;
      width: 100%; 
    }

  
    .answers-box .box {
      flex-direction: column;
      /* align-items: flex-start; */
    }

    .answers-box .box .answer-lable{
      width: 430px;
    }
  }
  
  
  @media  (max-width: 1024px) {
    .container {
      max-width: 90%;
    }
  
    .title h1 {
      font-size: 2.5em;
    }
  
    .quiz-box {
      width: 80%;
      margin: auto;
    }
  
    .answers-box .box {
      flex-direction: row;
      justify-content: space-between;
    }

    .answers-box .box .answer-number{
      margin-top: 6px;
    }

    .answers-box{
      margin-top: 12px;
    }
  }
  
  /* Nagy kijelzőkhöz (asztali) */
  @media (min-width: 1025px) {
    .container {
      max-width: 80%;
      margin: auto;
    }
  
    .title h1 {
      font-size: 3em;
    }
  
    .quiz-box {
      width: 70%;
      margin: auto;
    }

    .box{
      width: 100%;
    }
    .answers-box{
      margin-top: 12px;
    }

    .answers-box .box .answer-number{
      margin-top: 6px;
    }

    
  }

  @media (max-width: 375px) {
    .answers-box {
      display: flex;
      justify-content: center;
      flex-direction: column; 
      align-items: center;
      width: 100%; 
    }
  
    .box {
     /* width:100%; 
      text-align: center; 
      font-size: 18px;
      margin: 25px 0 0 0; */
      width: 100%; /* A div szélessége 90%-a a képernyő szélességének */
    
      margin: 0 auto; /* Középre igazítja a div-et */
    }
    .answers-box{
      margin-top: 12px;
    }

    .answers-box .box .answer-number{
      margin-top: 2px;
    }

    .answers-box .box .answer-lable{
      width: 430px;
    }
    
  }
  